* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #383838;
  color: ghostwhite;
}

.nav {
  display: flex;
  padding: 2.5em;
}

.nav ul {
  display: flex;
  margin-left: auto;
}

.nav ul li {
  list-style: none;
  margin: 0 1rem;
}

/* .book {
    background: #fff;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
} */

.bookList {
  max-width: 87%;
  display: grid;
  color: #383838;
  padding: 2rem;
  gap: 1.5rem;
  margin: auto;
  background: moccasin;
}

.book {
  text-align: center;
  background: rgb(16, 34, 25);
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 300px;
  /* object-fit: contain; */
}

.book h2 {
  font-size: 1rem;
  color: ghostwhite
}

.book h4 {
  color: ghostwhite;
  font-size: ".75rem";
  margin-top: 0.5rem;
  letter-spacing: 2px;
}

@media screen and (min-width: 716px) {
  .bookList {
    grid-template-columns: repeat(8, 1fr);
    overflow-x: auto;
    margin: auto;
    background: moccasin;
    scrollbar-width: none;
  }

  .book {
    width: 100%;
    background: rgb(0, 0, 0);
    margin: auto;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
  }


}
